@import "nullstyle.scss"; //обнуляющий стиль

@font-face {
	font-family: 'Gilroy-ExtraBold';
	src: url('../fonts/Gilroy-ExtraBold.eot');
	src: local('☺'), url('../fonts/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'), url('../fonts/Gilroy-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Chronicle Display Roman';
	src: url('../fonts/Chronicle Display Roman.eot');
	src: local('☺'), url('../fonts/Chronicle Display Roman.woff') format('woff'), url('../fonts/Chronicle Display Roman.ttf') format('truetype'), url('../fonts/Chronicle Display Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



body { display: flex; flex-direction: column; background: url(../img/Frame2.png) 0 0/100% auto no-repeat #101d25; color: #FFFFFF; font-family: 'Chronicle Display Roman';
   font-size: 18px; line-height: 22px; }
.header {
	&__box {padding: 64px 80px 0 80px; margin: 0 0 843px 0;}
	&__top { display: flex; justify-content: space-between; margin: 0 0 198px 0;}
	&__list>span {margin: 0 40px 0 0; }
	&__account {font-size: 17px; line-height: 21px; }
	&__middle {display: flex; justify-content: space-between;  align-items:center; }
	&__content { max-width: 850px;}
	&__tagline {margin: 0 0 32px 0; }
	&__h1 {font-size: 88px; line-height: 100px; margin: 0 0 32px 0;}
	&__scroll { margin: 0 0 0 20px;}
   &__slider { border-right: solid 3px #ffffff;}
	&__slider>ul>li {margin:  0 20px 40px 0; }
}
.span-yellow {font-family: 'Gilroy-ExtraBold'; color: #FBD784; background: url(../img/Line.png) left no-repeat; padding: 0 0 0 100px;
   letter-spacing: 6px; text-transform: uppercase; font-weight: 800; }
.main { max-width: 80%; margin: 0 auto; flex: 1 1 auto;
	&__box { border-bottom: 1px solid #000000; margin: 0 0 200px 0;}
	&__left01 {background: url(../img/Equipment1.png) 0px 70px no-repeat;}
	&__left {padding: 5%;  }
   &__span {margin: 0 0 27px 0;}
	&__h2 { font-size: 64px; line-height: 77px; margin: 0 0 27px 0; }
	&__text {line-height: 32px; margin: 0 0 27px 0; }
	&__more {color: #FBD784; background: url(../img/arrow_downward_24px2.png) 80px 5px no-repeat; }
	&__right { object-fit: contain; min-height: 100%; min-width: 50%; }
	&__left02 {background: url(../img/Equipment2.png) 0px 70px no-repeat; order: 2; margin: 0 0 0 100px;}
	&__left03 {background: url(../img/Equipment3.png) 0px 70px no-repeat;}
   &__order2 {order: 1;}
}
.content {display: flex; max-width: 1462px; max-height: 720px; margin: 0 0 200px 0;}

.footer {
	&__box { display: flex; justify-content: space-around; padding: 0 0 64px 0;}
	&__left>p {margin: 0 0 24px 0; max-width: 303px; }
   &__span-feft {opacity: 0.5; display: block; margin: 122px 0 0 0;}
	&__right {display: flex; gap: 212px;}
   &__right>ul>li { margin: 0 0 24px 0;}
   &__span-right {font-family: 'Gilroy-ExtraBold'; color: #FBD784; font-size: 24px; line-height: 32px; font-weight: 800; }
}
.logo { font-size: 32px; line-height: 38px; letter-spacing: 0.01em; text-transform: capitalize;}

@media (max-width:1200px){
   .header__h1 {font-size: 58px; line-height: 80px;}
   .main__h2 {font-size: 38px; line-height: 80px;}
}
@media (max-width:992px){
   .content {flex-wrap: wrap;}
   .main__right {height: 500px; min-width: 100%;}
   .main__left02 {order: 1; margin: 0px;}
   .header__box {margin: 0 0 400px 0;}
   .footer__right {gap: 50px;}
}
@media (max-width:768px){
   body {font-size: 14px; line-height: 16px;}
   .content {margin: 0 0 100px 0;}
   .main{
      &__right {max-height: 300px;}
      &__box {margin: 0 0 100px 0;}
      &__left {background-size: 100px 60px;}
      &__h2 {font-size: 18px; line-height: 40px;}
   }
   .header{
      &__h1 {font-size: 25px; line-height: 40px;}
      &__content {padding: 5px;}
      &__social {display: none;}
      &__slider { max-height: 200px;}
      &__box {padding: 20px 35px 0 35px; margin: 0 0 150px 0; }
      &__list>span {margin: 0 5px 0 5px;}
      &__top {margin: 0 0 100px 0;}
   }
   
   .span-yellow {background-size: 50px 2px; padding: 0 0 0 60px;}
   .footer{
      &__right {gap: 20px;}
      &__span-feft {margin: 50px 0 0 0;}
      &__right>ul>li { margin: 0 0 10px 0;}
      &__box {padding: 10px;}
      &__span-right {font-size: 17px; line-height: 16px;}
   }
}